/* background-color */
.rft-bg-white {
    background-color: white;
}
.rft-bg-blue-30 {
    background-color: #F0F2F4;
}
.rft-bg-blue-500 {
    background-color: #2684FF;
}
.rft-bg-skype-blue-30 {
    background-color: #EEF8FE;
}