.rft-mr-4 {
  margin-right: 4px;
}
.rft-mr-8 {
  margin-right: 8px;
}
.rft-mr-12 {
  margin-right: 12px;
}
.rft-mr-16 {
  margin-right: 16px;
}
.rft-mr-24 {
  margin-right: 24px;
}
.rft-mr-28 {
  margin-right: 28px;
}
.rft-ml-4 {
  margin-left: 4px;
}
.rft-ml-8 {
  margin-left: 8px;
}
.rft-mb-2 {
  margin-bottom: 2px;
}
.rft-mb-4 {
  margin-bottom: 4px;
}

.rft-mb-8 {
  margin-bottom: 8px;
}
.rft-mb-16 {
  margin-bottom: 16px;
}
.rft-mb-18 {
  margin-bottom: 18px;
}
.rft-mb-20 {
  margin-bottom: 20px;
}
.rft-mb-24 {
  margin-bottom: 24px;
}
.rft-mb-42 {
  margin-bottom: 42px;
}
