.rft-pl-0 {
  padding-left: 0px;
}

.rft-pl-2 {
  padding-left: 2px;
}
.rft-pl-4 {
  padding-left: 4px;
}
.rft-pl-6 {
  padding-left: 6px;
}
.rft-pl-8 {
  padding-left: 8px;
}
.rft-pl-10 {
  padding-left: 10px;
}
.rft-pl-12 {
  padding-left: 12px;
}
.rft-pl-14 {
  padding-left: 14px;
}
.rft-pl-16 {
  padding-left: 16px;
}
.rft-pl-18 {
  padding-left: 18px;
}
.rft-pl-20 {
  padding-left: 20px;
}
.rft-pl-22 {
  padding-left: 22px;
}

.rft-pr-0 {
  padding-right: 0px;
}

.rft-pr-2 {
  padding-right: 2px;
}

.rft-pr-4 {
  padding-right: 4px;
}

.rft-pr-6 {
  padding-right: 6px;
}

.rft-pr-8 {
  padding-right: 8px;
}

.rft-pr-10 {
  padding-right: 10px;
}

.rft-pr-12 {
  padding-right: 12px;
}

.rft-pr-14 {
  padding-right: 14px;
}

.rft-pr-16 {
  padding-right: 16px;
}

.rft-pr-18 {
  padding-right: 18px;
}

.rft-pr-20 {
  padding-right: 20px;
}

.rft-pr-22 {
  padding-right: 22px;
}
.rft-pr-44 {
  padding-right: 44px;
}

.rft-pt-0 {
  padding-top: 0px;
}

.rft-pt-4 {
  padding-top: 4px;
}
.rft-pt-8 {
  padding-top: 8px;
}
.rft-pt-14 {
  padding-top: 14px;
}
.rft-pt-24 {
  padding-top: 24px;
}
.rft-pt-20 {
  padding-top: 20px;
}
.rft-pt-60 {
  padding-top: 60px;
}

.rft-pb-0 {
  padding-bottom: 0px;
}

.rft-pb-4 {
  padding-bottom: 4px;
}
.rft-pb-8 {
  padding-bottom: 8px;
}
.rft-pb-24 {
  padding-bottom: 24px;
}
