.rft-color-blue-200 {
  color: #8095a5;
}
.rft-color-blue-300 {
  color: #4d6a80;
}
.rft-color-blue-400 {
  color: #274a65;
}
.rft-color-blue-500 {
  color: #2684ff;
}

.rft-color-white {
  color: white;
}
