.rft-typo-36-40 {
    font-size: 36px;
    line-height: 40px;
}

.rft-typo-14-21 {
    font-size: 14px;
    line-height: 21px;
}
.rft-typo-14-16 {
    font-size: 14px;
    line-height: 16px;
}
.rft-typo-16-16 {
    font-size: 16px;
    line-height: 16px;
}
.rft-typo-16-20 {
    font-size: 16px;
    line-height: 20px;
}
.rft-typo-12-14 {
    font-size: 12px;
    line-height: 14px;
}
.rft-typo-12-16 {
    font-size: 12px;
    line-height: 16px;
}
.rft-typo-12-18 {
    font-size: 12px;
    line-height: 18px;
}
.rft-typo-14-20 {
    font-size: 14px;
    line-height: 20px;
}
.rft-typo-36-44 {
    font-size: 36px;
    line-height: 44px;
}